<div style="margin-top:15em;"></div>

    <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Tic-Tac-Toe</h1>
        <button class="btn btn-lg btn-primary" ng-click="home.login()">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            &nbsp;&nbsp;Login with Facebook
        </button><br><br>
        <small>Developed by Nandun Bandara</small><br>
        <a href="https://twitter.com/nandun_bandara" target="_blank">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/nandunb" target="_blank">
            <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/ntbandara3" target="_blank">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a>
        <a href="http://nandunb.wordpress.com" target="_blank">
            <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
        </a><br><br>

        <!--error message-->
        <div class="alert alert-danger" ng-show="home.error_msg">
            <strong>Error: </strong>{{home.error_msg}}
        </div>
        <!--success message-->
        <div class="alert alert-success">
            <strong>Success! </strong>{{home.success_msg}}
        </div>
    </div>
